body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.484),rgba(0,0,0,0.4)),url(4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.header{
    height: 60px;
    width: 100vw;
}
.left{float: left;} .right{float: right;}

.logo img{
    height: 100px;
    width: 100px;
}
#MenuItems{
    display: flex;

}
li{
display: block;
margin-right: 50px;
margin-top: 25px;
}
li a{
text-decoration: none;
color: white;
font-size:1.3rem;
}
.loginbtn{
background: none;
color: black;
border: none;
font-size: 1.3rem;
cursor: pointer;
background: whitesmoke;
border-radius:24px;
padding:6px;
}

#login-form-popup{
display: block;
height: 500px;
width: 500px;
background:rgba(0, 0, 0, 0.37);
border-radius: 8px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
z-index: 5;
}
#register-form-popup{
display: none;
height: 600px;
width: 700px;
background:rgba(0, 0, 0, 0.37);
border-radius: 8px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
z-index: 3;
}
#faculty-form-popup{
display: none;
height: 500px;
width: 500px;
background:rgba(0, 0, 0, 0.37);
border-radius: 8px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.control-btns{
margin: 50px 50px;
text-align: center;
border: 2px transparent white;
border-radius: 8px;
}
.controlbtn{
margin-right: 10px;
height: 50px;
width: 100px;
background: none;
color: white;
border: none;
font-size: medium;
cursor: pointer;
}
.controlbtn:hover{
background: rgba(255, 255, 255, 0.461);
display: inline-block;
color: black;
transition:ease-out .3s;
box-shadow:inset 0 0 0 0 black;
}

.controlbtn-selected{
background: white;
color: black;
height: 50px;
width: 100px;
border: none;
font-size: medium;
cursor: pointer;
}
#login-form{
display: flex;
justify-content: center;
}
.text-input{
height: 35px;
width: 250px;
border: 2px solid white;
padding: 0px 15px;
border-radius: 8px;
background: none;
color: white;
margin: 10px 0px;
}
.white-btn{
display: inline-block;
padding: .75rem 1.25rem;
border-radius: 10rem;
color: #fff;
font-size: 1rem;
letter-spacing: .5rem;
transition: all .3s;
position: relative;
overflow: hidden;
z-index: 1;
}



.glow-on-hover {
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
